<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" type="text/css" href="/css/register.css" />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <title>Javascripters</title>
    </head>

    <body>
        <main>
            <div class="container-fluid bg">
                <div class="row justify-content-center welcome">
                    <div class="col-12 col-sm-8 col-md-4">
                        <h2>Register</h2>
                    </div>
                </div>
                <div class="row justify-content-center form">
                    <div class="col-12 col-sm-8 col-md-4">
                        <form
                            action="/register"
                            method="POST"
                            id="registerForm"
                            class="form-container"
                        >
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="username"
                                    aria-describedby="userHelp"
                                    placeholder="Enter username"
                                    value=""
                                    required
                                />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="password"
                                    placeholder="Password"
                                    required
                                />
                            </div>

                            <button
                                id="submit"
                                type="submit"
                                class="btn btn-dark btn-block"
                            >
                                Register
                            </button>
                            <br />
                            <p>Are you registered?</p>
                            <button
                                onclick="window.location.href='/login'"
                                id="other"
                                type="submit"
                                class="btn btn-dark btn-block other"
                            >
                                Login
                            </button>
                            <div
                                class="alert alert-danger mt-3"
                                role="alert"
                                id="invalid"
                            >
                                Something was wrong!
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="/js/register.js"></script>
    </body>
</html>
